<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/custom.css">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="container">
            <h2>Latest Mars News</h2>
            <hr>
            <div class="container" id="media-box">
                <h5 class="media-header">{{ mars.news_title }}</h5>
                <p>{{ mars.news_p }}</p>      
            </div>             
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h2>Featured Mars Image</h2>
                    <a class="thumbnail">
                        <img src="{{mars.featured_image_url}}"
                         alt="featured image"
                         class="img-thumbnail"
                         id="featured-img">
                    </a>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h4>Mars Facts</h4>
                    <div class="table-responsive">
                        {{ mars.html_table | safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <h2>Mars Hemisphere</h2>
            <hr>
            <div class="row">
                <div class="col-sm-3 col-md-3">
                  <div class="img-thumbnail">
                    <img src="{{mars.hemisphere_image_urls[0].img_url}}"
                     alt="{{mars.hemisphere_image_urls[0].title}}"
                     id="hemi-img">
                    <div class="caption text-left">
                      <h5>{{mars.hemisphere_image_urls[0].title}}</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="img-thumbnail">
                      <img src="{{mars.hemisphere_image_urls[1].img_url}}"
                       alt="{{mars.hemisphere_image_urls[1].title}}"
                       id="hemi-img">
                      <div class="caption text-left">
                        <h5>{{mars.hemisphere_image_urls[1].title}}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                    <div class="img-thumbnail">
                      <img src="{{mars.hemisphere_image_urls[2].img_url}}"
                       alt="{{mars.hemisphere_image_urls[2].title}}"
                       id="hemi-img">
                      <div class="caption text-left">
                        <h5>{{mars.hemisphere_image_urls[2].title}}</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 col-md-3">
                    <div class="img-thumbnail">
                      <img src="{{mars.hemisphere_image_urls[3].img_url}}"
                       alt="{{mars.hemisphere_image_urls[3].title}}"
                       id="hemi-img">
                      <div class="caption text-left">
                        <h5>{{mars.hemisphere_image_urls[3].title}}</h5>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </body>
</html>